:root {
  --clr-white: #fff;
  --clr-black: #1a1a1a;
  --clr-grey: #ececec;

  --backdrop : var(--clr-grey);
  --surface: var(--clr-black);
  
  --background: var(--backdrop);
  --foreground: var(--surface);
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 2em 4em;
  font-family: Roboto, courier, sans-serif;
}

.text-box, .toggle-box {
  margin: 2em 0;
}


label {
  margin-right: 1.25em;
}

input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--foreground);
  transition: 0.15s all linear;
  margin-right: 4px;
  position: relative;
  top: 3px;
}

input:checked {
  border: 6px solid var(--foreground);
}

